@import '../main';

.boxes {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 -10px 30px -10px;
  @media screen and (min-width: 544px) {
    flex-direction: row;
  }

  li {
    list-style-type: none;
    flex: 1;
    margin: 10px;
    height: 100px;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    border-radius: 5px;

    &:before {
      display: none;
    }

    a {
      display: block;
      padding: 10px 14px;
      border-radius: 2px;
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 400;
      text-decoration: none;
      flex: 1;
   }
  }
}

ul {
  padding: 0;
  -moz-column-count: 1;
  column-count: 1;
  -moz-column-gap: 50px;
  column-gap: 50px;
  @media screen and (min-width: 544px) {
    -moz-column-count: 2;
    column-count: 2;
  }
}

.item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 544px) {
    flex-direction: row;
  }

  .image {
    img {
      margin-right: 20px;
      border-radius: 50%;
    }
  }

  .content {
    margin: 10px 0;
    p {
      margin: 0;
      max-width: 440px;
    }
  }
}

.jumbotron {
  border-radius: 0;
}
