@import '../main';

// Layout
$aside-width-desktop: 300px;          // Width of the navigation side bar
$aside-width-mobile: 220px;


$percent-70: rgba(255, 255, 255, .7);
$percent-100: rgba(255, 255, 255, 1);

article {
  max-width: 1180px;
  min-width: 500px;
  position: relative;
  padding: 20px 0 40px $aside-width-desktop + 90;
  z-index: 1;
  @media screen and (min-width: 544px) {
    max-width: 1180px;
  }

  .logo {
    position: relative;
    left: -12px;
    width: 175px;
    margin-bottom: 10px;

    a {
      img {
        max-width: 100%;
      }
    }

    &:hover {
      background: none;
      opacity: .8;
    }
  }

  img {
    max-width: 100%;
    margin: 30px 0;

  }

  h2 {
    position: relative;
    padding-top: 40px;
  }

  h4 {
    margin: 35px 0 10px 0;
  }

  .example {
    position: relative;
    left: -36px;
    margin: 35px 0 40px 0;
    padding: 30px 35px;
  }
}

// Left-side bar with image & navigation

aside {
  z-index: 2;
  width: $aside-width-mobile;
  position: fixed;
  top: 0;
  @media screen and (min-width: 1200px) {
    width: $aside-width-desktop;
  }

  &:before {
    content: '';
    position: fixed;
    top: 0;
    height: 100vh;
    width: $aside-width-mobile;
    z-index: 1;
    @media screen and (min-width: 1200px) {
      width: $aside-width-desktop;
    }
  }

  .image {
    position: relative;
    z-index: 2;
    height: 150px;
    width: 170px;
    margin: 22px 0 0 30px;
    background-image: url(templates/guide/images/web-lit-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    img {
      width: calc(100% - 20px);
    }
  }
}

// Left-side Navigation

nav {
  padding: 20px 0 25px 0;
  list-style-type: none;
  position: relative;
  z-index: 2;

  a {
    display: block;
    position: relative;
    text-decoration: none;
    color: $percent-70;
    padding: 18px 34px;
    transition: background .05s ease-out;
    font-size: 16px;
    line-height: auto;

    &:visited {
      color: $percent-70;
    }

    &:hover {
      color: $percent-100;
      text-decoration: none;
      cursor: pointer;
    }

    &:after {
      content: '';
      background-image: url(templates/guide/images/nav-selected-indicator-mask.svg);
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 15px;
      position: absolute;
      top: 0;
      right: 0px;
      opacity: 1;
      width: 0;
      transition: all .075s ease-out;
    }

    &.selected {
      color: $percent-100;

      &:after {
        width: 15px;
        right: -15px;
      }

      &:hover {
        color: $percent-100;
        font-weight: 500;
      }
    }
  }
}
