$primary: #F09C3C;                           // Base color & sidebar background

// Colors, based on the primary
$primary-darkest: darken($primary, 10%);     // Selected state in nav
$primary-dark:  darken($primary, 5%);        // Hover state in nav
$primary-light: lighten($primary, 35%);      // Borders & horizontal rules

// Layout
$aside-width: 230px;          // Width of the navigation side bar

// The main content wrapper

article {
  max-width: 960px;
  min-width: 500px;
  position: relative;
  padding: 20px 0 40px $aside-width + 55;
  margin-right: 55px;
  z-index: 1;

  .logo {
    position: relative;
    left: -12px;
    width: 175px;
    margin-bottom: 10px;

    a {
      img {
        max-width: 100%;
      }
    }

    a:hover {
      background: none;
      opacity: .8;
    }
  }

  h2 {
    position: relative;
    padding-top: 30px;

    &:before {
      content:"";
      position: absolute;
      height: 2px;
      top: -2px;
      width: 50%;
      background: darken($primary-light, 5%);
      left: 25%;
    }
  }

  .example {
    margin: 35px 0 40px 0;
    background: $primary-light;
    border-left: 2px solid $primary-darkest;
    color: $primary-darkest;
    padding: 30px 35px;
  }
}

// Left-side bar with image & navigation

aside {
  z-index: 2;
  width: $aside-width;
  position: fixed;
  top: 0;

  &:before {
    background: $primary;
    content: "";
    position: fixed;
    top: 0;
    height: 100vh;
    width: $aside-width;
    z-index: 1;
  }

  .image {
    position: relative;
    z-index: 2;
    height: 150px;
    width: 170px;
    margin: 22px 0 0 30px;
    background-image: "url(templates/guide/images/web-lit-logo.svg)";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    img {
      width: "calc(100% - 20px)";
    }
  }
}

/* Left-side Navigation */

nav {
  padding: 20px 0 25px 0;
  list-style-type: none;
  position: relative;
  z-index: 2;

  a:link, a {
    display: block;
    position: relative;
    text-decoration: none;
    color: rgba(255,255,255,.7);
    padding: 18px 34px;
    transition: background .05s ease-out;
    font-size: 16px;
    line-height: auto;

    &:visited {
      color: rgba(255,255,255,.7);
    }

    &.selected, &.selected:hover {
      background: $primary-darkest;
      color: white;
      font-weight: 500;
    }

    &:hover {
      background: $primary-dark;
      color: rgba(255,255,255,1);
      text-decoration: none;
      cursor: pointer;
    }

    &:after {
      content: "";
      background-color: $primary-darkest;
      background-image: "url(templates/guide/images/nav-selected-indicator-mask.svg)";
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 15px;
      position: absolute;
      top: 0;
      right: 0px;
      opacity: 1;
      width: 0px;
      transition: all .075s ease-out;
    }

    &.selected {
      color: rgba(255,255,255,1);

      &:after {
        width: 15px;
        right: -15px;
      }
    }
  }
}
