<section class="container">

  <h1>Mozilla Club Resources</h1>

  <h2>Important Links</h2>

  <ul class="Boxes">
    <li><a href="#">Branding Guide</a></li>
    <li><a href="#">Marketing your Mozilla Club: PR - Guide</a></li>
    <li><a href="#">Documenting your Event</a></li>
  </ul>

  <h2>Guides</h2>

  <p>
    Cras arcu nisl, vestibulum sagittis lacinia sit amet, porttitor vitae ligula. Quisque vitae tortor et justo consequat semper at quis nisl. Morbi eget ex vitae ipsum tempor pellentesque et rhoncus dolor. Curabitur consectetur mi vitae rutrum iaculis. Nulla tempor nisl nulla, ac aliquam odio tempor in.
  </p>

  <ul>
    <li><a href="#">Branding Guide</a></li>
    <li><a href="#">Marketing your Mozilla Club: PR - Guide</a></li>
    <li><a href="#">Documenting your Event</a></li>
    <li><a href="#">Your first month as a Club Captain</a></li>
    <li><a href="#">Branding Guide</a></li>
    <li><a href="#">Marketing your Mozilla Club: PR - Guide</a></li>
    <li><a href="#">Documenting your Event</a></li>
    <li><a href="#">Your first month as a Club Captain</a></li>
    <li><a href="#">Branding Guide</a></li>
    <li><a href="#">Marketing your Mozilla Club: PR - Guide</a></li>
    <li><a href="#">Documenting your Event</a></li>
    <li><a href="#">Your first month as a Club Captain</a></li>
    <li><a href="#">Branding Guide</a></li>
    <li><a href="#">Marketing your Mozilla Club: PR - Guide</a></li>
    <li><a href="#">Documenting your Event</a></li>
    <li><a href="#">Your first month as a Club Captain</a></li>
  </ul>

</section>