<div class="theme theme--charcoal">
  <section class="container-fluid">
    <h1 class="header-headline">Mozilla Club Resources</h1>
  </section>

  <section class="container-fluid">
    <h2>Important Links</h2>

    <ul class="important-links">
      <li><a href="#">Branding Guide</a></li>
      <li><a href="#">Marketing your Mozilla Club: PR - Guide</a></li>
      <li><a href="#">Documenting your Event</a></li>
    </ul>

    <h2>Guides</h2>

    <p>
      Cras arcu nisl, vestibulum sagittis lacinia sit amet, porttitor vitae ligula. Quisque vitae tortor et justo consequat semper at quis nisl. Morbi eget ex vitae ipsum tempor pellentesque et rhoncus dolor. Curabitur consectetur mi vitae rutrum iaculis. Nulla tempor nisl nulla, ac aliquam odio tempor in.
    </p>

    <ul class="two-column no-list-style">
      <li class="item">
        <div class="content">
          <a href="#">Branding Guide</a>
          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro blanditiis totam ullam.</p>
        </div>
      </li>
      <li class="item">
        <div class="content">
          <a href="#">Marketing your Mozilla Club: PR - Guide</a>
        </div>
      </li>
      <li class="item">
        <div class="content">
          <a href="#">Documenting your Event</a>
          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro blanditiis totam ullam.</p>
        </div>
      </li>
      <li class="item">
        <div class="content">
          <a href="#">Your first month as a Club Captain</a>
          <p class="small">Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
      <li class="item">
        <div class="content">
          <a href="#">Branding Guide</a>
          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro blanditiis totam ullam.</p>
        </div>
      </li>
      <li class="item">
        <div class="content">
          <a href="#">Marketing your Mozilla Club: PR - Guide</a>
          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro blanditiis totam ullam.</p>
        </div>
      </li>
      <li class="item">
        <div class="content">
          <a href="#">Documenting your Event</a>
          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro blanditiis totam ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro blanditiis totam ullam.</p>
        </div>
      </li>
      <li class="item">
        <div class="content">
          <a href="#">Your first month as a Club Captain</a>
          <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro blanditiis totam ullam.</p>
        </div>
      </li>


    </ul>
  </section>
</div>
