<div class="theme theme--charcoal">
  <section class="container">
    <h1>Learn Web Fundamentals</h1>

    <section class="col-md-12 intro">
      <p class="intro">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      </p>
    </section>

    <section class="col-md-4 colour">
      <div class="color-box">
        <img src="partials/3-boxes/images/html.png" alt="">
        <h3>Learn Structure</h3>
        <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit.</p>
        <button class="btn btn-lg btn-default">Open Project</button>
      </div>
    </section>

    <section class="col-md-4">
      <div class="color-box">
        <img src="partials/3-boxes/images/css.png" alt="">
        <h3>Learn Style</h3>
        <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit.</p>
        <button class="btn btn-lg btn-default">Open Project</button>
      </div>
    </section>

    <section class="col-md-4">
      <div class="color-box">
        <img src="partials/3-boxes/images/js.png" alt="">
        <h3>Learn Interactivity</h3>
        <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Donec id elit.</p>
        <button class="btn btn-lg btn-default">Open Project</button>
      </div>
    </section>
  </section>
</div>
