@import "../../../node_modules/mozmaker/src/scss/custom/colors";

$yellow-dark: darken($youth-yellow, 15%);

.intro {
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 30px;
}

.color-box {
  background: darken($white, 5%);
  padding: 30px 15px;
  text-align: center;

  img {
    margin-bottom: 15px;
  }

  p {
    font-size: 1.1rem;
    font-weight: 300;
  }

  .btn {
    padding: 0.75rem 4rem;
    background: $youth-yellow;
    box-shadow: 0 2px 0 $yellow-dark;
    line-height: 29px;
  }
}
